.text-brand {
   font-family: $font-family-brand;
   font-weight: lighter;
}

.btn-link {
   font-weight: $font-weight-bold;
   padding-left: 0;
   padding-right: 0;
   border: none;
}
.btn-group .btn {
   font-weight: $font-weight-normal;
}
.card-body {
   color: $white;
   font-family: $font-family-serif;
}

.card-text-landing {
   font-family: $font-family-sans-serif;
}

.card-body.bg-primary {
   border-top-left-radius: $border-radius;
   border-top-right-radius: $border-radius;
}
.card-body.bg-secondary {
   border-bottom-left-radius: $border-radius;
   border-bottom-right-radius: $border-radius;
}
.tab-active {
   background-color: $dark;
   border: $border-width $dark solid;
}
.tab-separator {
   border-left: 1px $dark solid;
}
textarea {
   width: 100%;
   background-color: transparent;
   color: $white;

   // remove all styling: https://stackoverflow.com/a/17110012
   border: none;
   overflow: auto;
   outline: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   resize: none;
}
.bg-success,
.bg-danger {
   color: $white;
}

.crop {
   width: 100%;
   height: 50%;
   overflow: hidden;
}

.crop img {
   width: 100%;
   height: 50%;
   object-fit: cover;
}
